.root {
  position: relative;
  width: 250px;
  height: 106px;
  align-items: flex-start;
}
.rectangle2 {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: 40px;
  background-color: #d9d9d9;
}
.start {
  color: #000;
  font-size: 36px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 34%;
  right: 34%;
  top: 29.2453%;
  bottom: 29.2453%;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
