.root {
  position: relative;
  width: 308px;
  height: 53px;
  align-items: flex-start;
}
.rectangle4 {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  outline: solid 1px #000;
  outline-offset: -1px;
  border-radius: 20px;
  background-color: #d9d9d9;
}
.rectangle3 {
  position: absolute;
  left: 0;
  right: 58.4416%;
  top: 0;
  bottom: 0;
  outline: solid 1px #000;
  outline-offset: -1px;
  border-radius: 20px;
  background-color: #00ad45;
}
