.button.button {
  position: absolute;
  left: 70px;
  top: 369px;
}
.start {
  color: #000;
  font-size: 36px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 13.6%;
  right: 13.6%;
  top: 29.2453%;
  bottom: 29.2453%;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.button2.button2 {
  position: absolute;
  left: 79px;
  top: 517px;
}
.start2 {
  color: #000;
  font-size: 36px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 33.2%;
  right: 33.2%;
  top: 29.2453%;
  bottom: 29.2453%;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.root {
  position: relative;
  width: 100vw;
  height: 100vh;
  align-items: flex-start;
  background-color: #fff;
  overflow: hidden;
}
.exampleBar {
  color: #000;
  font-size: 36px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 27px;
  top: 67px;
  width: 213px;
  height: 57px;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.exampleBar2 {
  color: #000;
  font-size: 36px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 27px;
  top: 67px;
  width: 213px;
  height: 57px;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.address {
  color: #000;
  font-size: 36px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: -9px;
  top: 124px;
  width: 213px;
  height: 57px;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.open00180 {
  color: #000;
  font-size: 36px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 21px;
  top: 196px;
  width: 348px;
  height: 57px;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
